@import url('https://fonts.googleapis.com/css?family=Lancelot');


body {
  font-size: 20px;
  font-family: 'Lancelot', sans-serif;
  color: rgb(70,56,43);
  background: url('../images/green_dust_scratch.png');
  width: 960px;
  margin: 0 auto;
}
