@import url('https://fonts.googleapis.com/css?family=Lancelot');


body {
  font-size: 25px;
  font-family: 'Lancelot', sans-serif;
  color: rgb(70,56,43);
  background: url('../images/green_dust_scratch.png');
  width: 960px;
  margin: 0 auto;
}

nav ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: white;
  background-color: grey;
  border-radius: 2px;
  display: inline-block;
  padding: 2px;
  text-decoration: none;
}

nav a:visited {
  color: black;
}

nav a:hover {
  color: rgb(181, 217, 206);
}

nav a:active {
  color: rgb(68, 56, 45);
}
