body {
  font-size: 20px;
  font-family: 'Times New Roman', sans-serif;
  color: rgb(70,56,43);
  background: url('../images/green_dust_scratch.png');
  background: pink;
  width: 960px;
  margin: 0 auto;
}
